<div class="col-10 col-offset-1">
    <p-card header="Nombre del mensaje" 
            #textArea>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae qui laudantium molestiae eveniet laboriosam deleniti ad commodi officia? Quo error atque nesciunt quibusdam, distinctio placeat in aspernatur quasi, tempore officia deleniti aperiam eum debitis voluptas aliquid culpa libero blanditiis reiciendis tenetur minus id! Temporibus nisi numquam amet quidem, eius repellat placeat commodi necessitatibus, architecto, dolores est itaque cum odio doloremque eveniet fugit possimus. Nostrum, veritatis! Quis beatae quasi, rem minus voluptate ullam assumenda expedita consequatur mollitia ut voluptates fuga eaque quia? Itaque maxime rem suscipit quod dicta quas dolorum similique, molestias dolore exercitationem eius repellat! Deserunt accusantium necessitatibus labore excepturi?
    </p-card>
</div>