<div class="col-10 col-offset-1">
    <p-card [header]="messageTitle" *ngIf="messageName.length > 0">
        <div class="grid" *ngIf="!promoExist">
            <div class="col-12">
                {{ messageName }}
            </div>
        </div>
        <div class="grid" *ngIf="promoExist">
            <div class="col-12 md:col-6">
                <p>{{ messageName }}.<br><br>{{ descriptionMessage }}.</p>
            </div>
            <div class="col-12 md:col-4 col-offset-1">
                <img [src]="promoImg">
            </div>
        </div>
    </p-card>
</div>