/* You can add global styles to this file, and also import other style files */

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid;
    place-content: center;
    background-color: #eff3f8;
}

app-root{
    min-width: 90vw;
}