* {
    padding: 0;
    box-sizing: inherit;
    margin: 0;
    font-family: Raleway,sans-serif;;
    font-size: 10.5pt;
    font-weight: 400;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: block;
    background-image: url(../src/assets/background/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .components {
    background-repeat: no-repeat;
    min-height: 85vh;
  }
  
  .logo-img {
    width: 200px;
    margin: 5px;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  
  .main-footer {
    border-top: 1px solid #d1d1d1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 98;
  }